sdzblog_crud:
    resource: "routing/article.yml"
    prefix:   /crud

sdzblog:
    pattern:   /{page}
    defaults:  { _controller: SdzBlogBundle:Blog:liste, page: 1 }
    requirements:
        page:  \d+

sdzblog_voir:
    pattern:   /voir/{id}
    defaults:  { _controller: SdzBlogBundle:Blog:voir }

sdzblog_ajouter:
    pattern:   /ajouter/article
    defaults:  { _controller: SdzBlogBundle:Blog:ajouter }

sdzblog_modifier:
    pattern:   /modifier/{id}
    defaults:  { _controller: SdzBlogBundle:Blog:modifier }
    requirements:
        id:  \d+

sdzblog_supprimer:
    pattern:   /supprimer/{id}
    defaults:  { _controller: SdzBlogBundle:Blog:supprimer }
    requirements:
        id:  \d+