{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}Modifier un article - {{ parent() }}{% endblock %}

{% block sdzblog_body %}

	<h2>Modifier un article</h2>
	
	{% include "SdzBlogBundle:Blog:formulaire.html.twig" with {'form': form} %}
	
	<p>
		Vous éditez un article déjà existant,
		ne le changez pas trop pour éviter
		aux membres de ne pas comprendre
		ce qu'il se passe.
	</p>
	
{% endblock %}